<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <form action="votre_script.php" method="post">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>
        
            <label for="email">E-mail :</label>
            <input type="email" id="email" name="email" required>
        
            <label for="motDePasse">Mot de passe :</label>
            <input type="password" id="motDePasse" name="motDePasse" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$" title="Le mot de passe doit contenir au moins 8 caractères, dont au moins une lettre majuscule, une lettre minuscule et un chiffre." required>
        
            <button type="submit" id="btn">Soumettre</button>
        </form>
        
    </form>
</body>


<script>
    console.log('bonjour');

            const motDePasseInput = document.getElementById("motDePasse");
            const emailInput = document.getElementById("email");
            const nomInput = document.getElementById("nom");
            const boutton = document.getElementById("btn");
boutton.addEventListener('click',(e) =>{

e.preventDefault()
    const motDePasseValeur = motDePasseInput.value;
const emailValeur = emailInput.value;
const nomValeur = nomInput.value;


console.log("Mot de passe saisi : " + motDePasseValeur);
console.log("E-mail saisi : " + emailValeur);
console.log("E-mail saisi : " + nomValeur );

})



</script>
</html>